<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST">
        <!-- use _method because we called it that in app.js when using method-override -->
        <div>
            <label for="title">Campground Name</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title%>">
            <!-- group content together campground[]-->
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location%>">
        </div>
        <div>
            <label for=" description">Description</label>
            <input type="text" id="description" name="campground[description]" value="<%=campground.description%>">
        </div>
        <button>Update Campground</button>
    </form>
    <div>
        <a href="/campgrounds/<%=campground._id %> ">Back to Campground</a>
    </div>
</body>

</html>